body {
  line-height: 2em;
  font-size: 17px;
}

h1 {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 50px;
  font-family: Verdana;
  color: rgb(245, 191, 12);
  padding: 50px;
  padding-bottom: 2em;
}

.list-group {
  line-height: 2em;
  font-size: 21px;
}

h3 {
  font-family: comic sans ms;
  font-weight: bold;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}


h5 {
  font-weight: 300;
}

.heading {
  margin-top: 100%;
  text-align: center;
  font-size: 25px;
  font-family: Verdana;
  font-weight: 600;
}

#post1-head {
  padding-top: 100px;
  color: rgba(195, 236, 13, 0.829);
}

.post-title {
  color: black;
}

.tasks {
  padding-top: 10em;
}

.main-title {
  padding-top: 100px;
  color: yellowgreen;
}

.section-heading {
  margin-top: 100px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: 700;
}
.figure-caption  {
  text-align: center;
  font-size: 16px;
  color: black;
}
.picture-info {
  font-family: Verdana;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

.one-header {
  color: green;
}

.subheading {
  font-weight: 600;
  color: rgb(12, 11, 11);
  font-size: 40px;
  font-family: Comic sans ms;
}

.subheading-one {
  font-size: 30px;
}

.img-fluid {
  padding:10px;
}
.img-fluids {
  margin: 10px;
}

.caption {
  font-size: 20px;
}

.list-group {
  border-style: solid;
  margin-top: 200px;
  padding-left: 60px;
  padding-right: 60px;
}

hr {
  overflow: hidden;
  border-style: inset;
  border-width: 2.5px;

}

li {
  font-family: comic sans ms;
  margin-bottom: 15px;
  padding-top: 15px;
}

ol li {
  font-family: comic sans ms;
  font-weight: 500;
}