body {
  line-height: 2;
}

h2 {
  text-align: center;
  font-size: 50px;
  font-family: Verdana;
  color: rgb(245, 191, 12);
  padding-top: 1em;
  padding-bottom: 2em;
}

h3 {
  font-weight: 600;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;
}

p {
  padding-bottom: 10px;
}


h5 {
  font-weight: 300;
}

.tasks  {
  padding-top: 10em;
}

.section-heading {
  margin-top: 100px;
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: 700;
}

.picture-info {
  font-family: Verdana;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

.img-fluid {
  margin-top: 30px;
  float: center;
}

.caption {
  font-size: 20px;
}

hr {
  display: block;
  overflow: hidden;
  border-style: inset;
  border-width: 2.5px;
}
li {
  padding-top: 10px;
}

ol li {
  font-weight: bold;
}