body {
  line-height: 2;
}

h1  {
  font: purple;
}

h2 {
  text-align: center;
  font-size: 50px;
  font-family: Verdana;
  color: rgb(245, 191, 12);
  padding: 50px;
  padding-bottom: 2em;
}

.list-group {
  line-height: 2em;
  font-size: 22px;
}

h3 {
  font-family: comic sans ms;
  font-weight: bold;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

p {
  padding-bottom: 10px;
}


h5 {
  font-weight: 300;
}

.heading {
  margin-top: 100%;
  text-align: center;
  font-size: 25px;
  font-family: Verdana;
  font-weight: 600;
  }

  .post-title  {
    color: black;
  }
.tasks  {
  padding-top: 10em;
}
.main-title  {
  padding-top: 100px;
  color: yellowgreen;
}

.section-heading {
  margin-top: 100px;
  text-align: center;
  color: black;
  font-size: 30px;
  font-weight: 700;
}

.picture-info {
  font-family: Verdana;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}


.subheading  {
  font-weight: 500;
  color: whitesmoke;
  font-size: 45px;
}

.img-fluid {
  margin-top: 30px;
  float: center;
}

.img-fluids  {
  float: right;
}

.caption {
  font-size: 20px;
}

.list-group  {
  border-style: solid;
  margin-top: 200px;
  padding-left: 60px;
  padding-right: 60px;
}

hr {
  overflow: hidden;
  border-style: inset;
  border-width: 2.5px;

}
li {
  font-family: comic sans ms;
  margin-bottom: 15px;
  padding-top: 15px;
}

ol li {
  font-family: comic sans ms;
  font-weight: 500;
}